.vp-repeater {
    padding: 20px;
}
.vp-repeater .remove {
    z-index: 100;
    position: absolute;
    right: 0;
    color: red!important;
    top: 0;
    margin-right: 10px;
    margin-top: 10px;
}
.vp-repeater .repeater-item {
    position: relative;
}

.vp-repeater .new-item {
    margin: 10px;
}

.vp-repeater .repeater-content {
    border-bottom: 1px solid;
    padding: 10px;
    margin: 10px;
}

.vp-repeater .repeater-content table {
    width: 100%;
}

.vp-repeater .repeater-content table td{
    width: 50%;
    padding: 10px;
}

.add-banner-btn {
    margin-top: 20px;
}

.recover-btn {
    visibility: hidden;
}

.panel.padding10 .row {
    padding: 10px;
}

.add-banner-btn button {
    width: 100%;
}